.container {
    display: flex;
    margin: auto;
    justify-content: center;
    width: 200px;
    height: 200px;
    background-color: #2a50e7;
}

.container--activated {
    @supports (background: paint(id)) {
        background-image: paint(yourSpecificName);
        --addCustomColor: #a80f30;
    }
}